In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import os
import warnings
warnings.filterwarnings('ignore')

In [2]:
theFile='../data/processed/train_heart.csv'

In [3]:
datadf = pd.read_csv(theFile)
print("Data Shape")
print(datadf.shape)
print("Data Values")
datadf.head()

Data Shape
(242, 14)
Data Values

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,49,0,0,130,269,0,1,163,0,0.0,2,0,2,1
1,63,0,0,108,269,0,1,169,1,1.8,1,2,2,0
2,60,1,0,130,206,0,0,132,1,2.4,1,2,3,0
3,66,1,0,120,302,0,0,151,0,0.4,1,0,2,1
4,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0

In [11]:
overview = datadf.describe()

overview.loc[["min", "max"]].to_json("schema_in.json")

In [4]:
numeric_feat = [ "age","chol","trtbps","thalachh","oldpeak" ]
category_feat = [ "sex","cp","fbs","restecg","exng","slp","caa","thall"]
target_feat = ["output"]

In [5]:
overview1 = datadf[numeric_feat].describe()
overview1.loc[["min", "max"]]

      age   chol  trtbps  thalachh  oldpeak
min  29.0  141.0    94.0      88.0      0.0
max  77.0  564.0   200.0     202.0      6.2

In [7]:
overview1.loc[["min", "max"]].to_json("numeric_schema_in.json")

In [10]:
total_values = datadf[category_feat].unique()
print(total_values)

AttributeError: 'DataFrame' object has no attribute 'unique'